**/node_modules/
**/.idea
**/.idea/workspace.xml

/frontEnd/node_modules
/backEnd/package-lock.json
node_modules/
workspace.xml
package-lock.json
backEnd/package-lock.json
backEnd/.idea/workspace.xml
