@font-face {
    font-family: IRANSans;
    font-weight: 300;
    font-style: normal;
    src: url("../assets/Fonts/IRANSansWeb_Light.woff");
}

@font-face {
    font-family: IRANSans;
    font-weight: 400;
    font-style: normal;
    src: url("../assets/Fonts/IRANSansWeb.woff");
}
@font-face {
    font-family: IRANSans;
    font-weight: 500;
    font-style: normal;
    src: url("../assets/Fonts/IRANSansWeb_Medium.woff");
}
@font-face {
    font-family: IRANSans;
    font-weight: 700;
    font-style: normal;
    src: url("../assets/Fonts/IRANSansWeb_Bold.woff");
}
@font-face {
    font-family: IRANSans;
    font-weight: 900;
    font-style: normal;
    src: url("../assets/Fonts/IRANSansWeb_Black.woff");
}
